<div class="container">
  <img src="assets/Sairen2.png" alt="Logo" class="logo">

  <div class="captcha-container">
    <h2>Lancer le téléchargement</h2>
    <re-captcha (resolved)="resolved($event)" siteKey="6LcU58opAAAAAEoNAwFJVXYxJn4kVukh64e_X9nq"></re-captcha>
    <button (click)="generateToken()" [disabled]="!isCaptchaValid">Lancer le téléchargement</button>
    <div *ngIf="isDownloadInProgress" class="progress">
      <div class="progress-bar" [style.width]="progress + '%'"></div>
    </div>
  </div>
</div>